* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.page-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200vh;
}

.header {
  font-size: 36px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.element-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

h1::first-letter {
  color: green;
  font-style: italic;
  font-size: 70px;
}

h2::first-line {
  text-transform: uppercase;
  text-decoration: underline;
  color: orange;
}

a:hover {
  text-decoration: underline;
  color: red;
}

a:visited {
  color: blue;
}

p:first-of-type {
  background-color: yellow;
}

p:last-of-type {
  background-color: green;
}

input:focus{
  border: 5px solid blueviolet;
}

.button {
  padding: 8px;
  margin: 20px;

  max-width: 200px;
  font-size: 20px;
  font-weight: 600;
  color: orange;
  background-color: red;
  border: 2px solid red;

  border-radius: 8px;
}

.button:hover {
  color: red;
  background-color: orange;
  border-color: orange;

  cursor: pointer;
}

.span-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.some-span:first-child {
  background-color: red;
}


.some-span:last-child {
  background-color: blueviolet;
}

.some-span:not(.true) {
  color: hotpink;
}

.element {
  width: 100px;
  height: 100px;
  margin: 20px;

  background-color: red;
}

.element:nth-child(2n) {
  background-color: yellow;
}

.element:nth-child(odd) {
  background-color: brown;
}

.element:nth-child(3n) {
  background-color: blueviolet;
}

.paragraph:only-child{
  padding: 10px;
  border: 2px solid red;
  margin-bottom: 40px;
}

.paragraph2:only-of-type{
  padding: 10px;
  border: 2px solid black;
  margin: 40px;
}

input:checked + span{
  display: none;
}

.input-wrapper {
  position: relative;
}

.checkmark {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
}

.checkmark::before{
  position: absolute;
  content: "";
  width: 3px;
  height: 9px;
  top: 6px;
  left: 9px;
  background-color: green;
  transform: rotate(45deg);
}

.checkmark::after {
  position: absolute;
  content: "";
  padding: 20px;
  width: 3px;
  height: 14px;
  top: 2px;
  left: 5px;
  background-color: green;
  transform: rotate(-30deg);

}
