*, :before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
}

.square {
  align-self: center;
  justify-self: center;
}

.page-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  padding: 20px 20px;
  background: green;
}
