*, :before, :after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: burlywood;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 960px;
}


.page-header {
  flex-direction: row;
}

.page-header__title {
  font-size: 48px;
  background: -webkit-linear-gradient(#999, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-content {
  flex-direction: column;

}

.page-footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.page-footer__title {
  font-size: 48px;
  background: -webkit-linear-gradient(red, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.board {
  display: grid;
  height: 600px;
  width: 600px;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(8, auto);
  grid-column: 2;
  grid-row: 2;
  border: 3px solid black;
  margin-bottom: 240px;
}

.cell {
  border: 2px solid darkgoldenrod;
}

#svetofor {
  margin: 20px auto;
  padding: 30px;
  width: 130px;
  background-color: #696969;
  background-image: linear-gradient(99deg, #4d4d4d 50%, #333 50%);
  border: 5px groove #716d6d;
  border-radius: 60px;
  box-shadow: inset 2px 2px 9px rgba(0, 0, 0, 0.63);
}

.circle {
  width: 60px;
  height: 60px;
  border: 4px groove #696565;
  border-radius: 50%;
  background-color: #aaa;
  margin-bottom: 40px;
  box-shadow: inset 2px 2px 9px rgba(0, 0, 0, 0.63);
}

.circle:last-of-type {
  margin-bottom: 0;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: limegreen;
}

