*, :before, :after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: center;
}

.header-element {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: 0 auto 20px;
  background: red;
}

.header-element-2 {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin-top: 40px;
  background: red;
}

.container-2 {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.header-element-3 {
  width: 100px;
  height: 100px;

  padding: 10px;
  align-self: center;
  background: red;

}

.container-3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 800px;

  background-size: cover;
  border: 1px solid black;
}

.image-container {
  width: 1152px;
  height: 648px;

  background: url("../img/image.png");
  background-size: cover;
}


.paragraph {
  height: 40px;
}

.word {
  display: inline;
}

.wrapper-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.block {
  margin: 20px;
  font-size: 40px;

  background-color: red;
}

.block:nth-child(1) {
  flex-grow: 1;
}

.block:nth-child(2) {
  flex-grow: 1;

}

.block:nth-child(3) {
  flex-grow: 1;

}

.block:nth-child(4) {
  flex-grow: 1;

}

.block:last-child {
  flex-grow: 3;
}
