*, :before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  padding: 20px 20px;
  background: green;
}

.title {
  font-size: 24px;
  color: blueviolet;
  background: aqua;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list-item {
  margin-left: 20px;
}
