*, :before, :after {
  padding: 0;
  margin: 20px;
  box-sizing: border-box;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: burlywood;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 960px;
}


.page-header {
  flex-direction: row;
}

.page-header__title {
  font-size: 48px;
  background: -webkit-linear-gradient(#999, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.counter__text {
  margin: 20px;
  font-size: 70px;
  color: red;
}


.main-content {
  flex-direction: column;
}

.page-footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.page-footer__title {
  font-size: 48px;
  background: -webkit-linear-gradient(red, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  font-family: system-ui, sans-serif;
  min-height: 100vh;
  background-color: var(--color1);
  color: var(--color2);
}

section {
  grid-row: 2;
  grid-column: 2;
}

h1 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 25px;
}

label {
  font-size: 22px;
  font-weight: 500;
}

input {
  font-size: 22px;
  font-weight: 500;
  outline: none;
}

input[type='text'] {
  width: 300px;
}

input[type='number'] {
  width: 50px;
}

div {
  margin-bottom: 10px;
}

div:nth-child(3) {
  margin-bottom: 25px;
}

button {
  background: transparent;
  border-color: currentColor;
  border: 2px solid;
  border-radius: 7px;
  cursor: pointer;
  font-size: 22px;
  outline: none;
}

button:disabled {
  color: var(--color3);
}
