.page-header {
  display: flex;
  align-items: center;
  justify-content: center;

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__nav-item {
    font-size: 20px;
    line-height: 28px;
    color: blue;
    background-color: red;

  }
}

