* {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  background: blue;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to top, #fff, #000) 1;
}

.element_container {
  position: relative;

  width: 400px;
  height: 400px;
  top: 20px;
  left: 40px;

  background-color: blue;
}

.element__sticky {
  position: sticky;
  top: 0;

  width: 100px;
  height: 100px;

  background-color: red;
}

.element {
  position: absolute;
  background: url("../image/figure.jpg");
  background-size: cover;
  width: 100px;
  height: 100px;
  right: 50%;
  top: 50%;

  transform: translate(50%, -50%) ;
}


.element2 {
  position: absolute;
  background: url("../image/figure.jpg") no-repeat;
  background-size: 110px 50px;
  background-position: 20px 0;
  background-color: red;
  width: 100px;
  height: 111px;
  right: 0;
  top: 50%;

  transform: translate(50%, -50%) ;
}

.element:hover {
  transform: translate(50%, -50%) rotate(45deg) scale(1.5);
  transition: 1s;
  background-color: green;
}


.colors_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 400px;
  height: 400px;

  background: rgb(82,18,61, 1);
  /*  RED, Green, Blue */

  /*color: #RRGGBB */
  /*color: rgb(100)  */
}

.color_element {
  width: 100px;
  height: 100px;
  background: rgba(80, 80, 80, 0.1);
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(80, 80, 80, 0.1);
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background: #ffffff;
}

.linear {
  margin: 100px auto;
  width: 400px;
  height: 100px;
  background: linear-gradient(red 2px, orange 30%, orange 40%, yellow 70%, green 90%, green 100%);
}

.linear2 {
  margin: 100px auto;
  width: 400px;
  height: 100px;
  background: repeating-linear-gradient(orange 0%, green 25%, red 50%);
}

.radial {
  margin: 100px auto;
  width: 500px;
  height: 300px;
  background: radial-gradient(circle at left,red 2px, orange 30%, orange 40%, yellow 70%, green 90%, green 100%);

}

.radial2 {
  margin: 100px auto;
  width: 500px;
  height: 300px;
  background: repeating-radial-gradient(circle, red 20px, orange 10px, green 30px);

}

.paint {
  position: relative;
  width: 90px;
  height: 90px;
  margin: 0 auto;

  border-radius: 50%;
  background: white;
  border-bottom: none;
}

.paint::after {
  position: absolute;
  width: 110px;
  height: 110px;
  top: -10px;
  left: -10px;
  content: "";

  z-index: -1;
  background: linear-gradient(to right, green 2px, orange 60%);
  border-radius: 50%;
  border-bottom: none;
}
.paint::before {
  position: absolute;
  width: 120px;
  height: 55px;
  bottom: -10px;
  right: -10px;
  content: "";

  z-index: 1;
  background: white;
  border-bottom: none;
}

.text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
  width: 100%;

}

.text {
  text-shadow: 1px 1px green;

}


.text2 {
  text-shadow: 1px 1px 1px green;

}

.text3 {
  text-shadow: 1px 1px green, 1px 2px 3px grey;

}

.svg {
  fill: red;
  width: 23px;
  height: 23px;
  background-image: url("../image/Vector.svg");
}
