* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 40px 20px;
  width: 600px;
  height: 1200px;
  background: white;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}


.input_text {

}

.input_email {
  border: 1px solid red;
}
.input_email::placeholder {

}

.tel_button {
  padding: 8px 16px;
  border: 1px solid red;
  border-radius: 4px;
  background: blue;
  color: red;
  text-decoration: none;
}

.tel_button:hover {
  border: 1px solid blue;
  background: red;
  color: blue;
  cursor: pointer;
}

.line-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 324px;
}

.line {
  width: 152px;
  height: 1px;
  background: #f2f2f2;
}

.text_or {
  font-size: 14px;
  line-height: 14px;
}

.multieselector {
  width: 200px;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
}

.input_checkbox {
  margin-bottom: 40px;
}

.input_file {
  margin-bottom: 40px;
}

.input_button {
  margin-bottom: 40px;
  width: 200px;
  background: red;
}
