.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  grid-template-rows: repeat(3, 200px);
  grid-gap: 20px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border: 2px solid black;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-item {
  display: flex;
  flex-direction: column;
  width: calc(100vw/3 - 50px);
  height: 200px;
  margin: 10px;
  background-color: orange;
  text-align: center;
}

.picture {
  width: 200px;
  height: 100px;
  margin: 12px auto;
  background-color: green;
}

.title {
  font-size: 24px;
}

@media (max-width: 1920px) {
  .container {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }

  .flex-item {
    width: calc(100vw/2 - 40px);
  }
}

