*, :before, :after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: burlywood;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 960px;
}


.page-header {
  flex-direction: row;
}

.page-header__title {
  font-size: 48px;
  background: -webkit-linear-gradient(#999, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#title {

}

.main-content {
  flex-direction: column;
}

.button {
  width: 200px;
  background-color: red;
  border: 1px solid darkblue;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  color: white;
  background-color: darkblue;
  border: 1px solid red;
}
.button1 {
  width: 200px;
  background-color: red;
  border: 1px solid darkblue;
  border-radius: 10px;
  cursor: pointer;
}

.button1:hover {
  color: white;
  background-color: darkblue;
  border: 1px solid red;
}

.page-footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.page-footer__title {
  font-size: 48px;
  background: -webkit-linear-gradient(red, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.list {
  width: 400px;
  height: 400px;
  background-color: orange;
}

.hidden {
  display: none;
  /*visibility: hidden;*/
}

.counter {
  margin-bottom: 200px;
}

:root {
  --color1: #161619;
  --color2: #ffffff;
  --color3: orange;
}

body {
  font-family: system-ui, sans-serif;
  min-height: 100vh;
  color: var(--color1);
  background-color: var(--color2);
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
}

a {
  display: inline-block;
  padding: 10px 15px;
  background-color: var(--color1);
  text-decoration: none;
  color: var(--color2);
}

a.active {
  background-color: var(--color3);
  color: var(--color1);
}

