* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: orange;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.page-header {
  position: sticky;
  visibility: visible;
  position: -webkit-sticky;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: red;
  border: 5px dashed blue;
}

.page-header:hover {
}

.page-footer {
  height: 1000px;
  width: 100%;
  border: 5px dashed black;
}

.page-header__element {
  width: 500px;
  height: 500px;
}


.item {
  width: 100px;
  height: 100px;
  float: left;

}

.item1 {
  background-color: red;
  float: right;

}
.item2 {
  background-color: blue;
  float: right;
}


.image-container {
  width: 400px;
  height: 400px;
  overflow: auto;
  background: url("../img/image.png");
  background-size: cover;
}

.image {
  width: 1000px;
  height: 600px;
}


.page-header__text {
  position: absolute;
  top: 0;
  left: 0;
  margin: 50px 0;
  font-size: 24px;
  font-weight: 600;
}

/*.container {*/
/*  width: 500px;*/
/*  height: 200px;*/
/*  overflow: auto;*/
/*}*/

.container__text {
  width: 400px;
}


.text-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: gray;
}


.absolute {
  position: sticky;
  width: 400px;
  height: 400px;

  transform: translate(50%, -50%);
  background: white;
}


.fixed {
  width: 400px;
  height: 400px;
}



